to_archive/
_delete/
.idea/
RC_*
enwiki-*
output/*
.ipynb_checkpoints/
tex/
output/
# ADD to .gitignore for public release:
Datasets/
example_eval_style_models.py
_LIWC*
_quad_stel-dimensions_formal-815_complex-815.tsv
_QUAD-full_annotations.tsv